name: Add issues/PRs to Project

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened, ready_for_review]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/add-to-project@v0.6.1
        with:
          project-url: https://github.com/orgs/phys-sims/projects/2
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT}}
